# This notebook contains:
## 01. Import libraries and data
## 02. Merge rent data with state population data
## 03. Merge rent/state pop data with district pop data

# 01. Import libraries and data

In [4]:
# import libraries
import pandas as pd
import numpy as np
import os

In [5]:
# create shortcut for data imports
path = r'../cleaned data/'

In [6]:
# state population data
df_pop = pd.read_csv(os.path.join(path, 'state_pop.csv'), index_col = False)

In [7]:
df_pop.head()

,state,population,surface area,population density,space/person,people/apt,population trend,pop trend cat
0,Baden_Württemberg,11090990,35751,310,42.55,2.21,0.26,increase
1,Bayern,13113880,70552,186,44.28,2.15,0.35,increase
2,Berlin,3659468,892,4103,38.66,1.85,0.39,increase
3,Brandenburg,2521627,29486,86,40.76,2.00,-0.12,decrease
4,Bremen,681439,419,1626,40.81,1.92,0.11,increase

In [8]:
df_pop.shape

(16, 8)

In [9]:
# district population data
df_district_pop = pd.read_csv(os.path.join(path, 'district_pop.csv'), index_col = False)

In [10]:
df_district_pop.head()

                    regio2  districtPopTrend  districtPop
0                   Aachen              0.35       555465
1             Aachen_Kreis              0.35       555465
2          Ahrweiler_Kreis              0.18       129727
3  Aichach_Friedberg_Kreis              0.75       133596
4          Alb_Donau_Kreis              0.83       196047

In [12]:
# rent data
df_rent = pd.read_csv(os.path.join(path, 'rent_cleaned.csv'), index_col = False)

In [9]:
df_rent.shape

(268772, 31)

In [8]:
df_rent.head(10)

,regio1,baseRent,totalRent,pricetrend,livingSpace,geo_plz,picturecount,newlyConst,yearConstructed,scoutId,...,garden,baseRentRange,noRoomsRange,livingSpaceRange,yearConstructedRange,regio2,regio3,description,date,price/unit
0,Nordrhein_Westfalen,595.00,840.00,4.62,86.00,44269,6,False,1965.0,96107057,...,True,4,4,4,2.0,Dortmund,Schüren,Die ebenerdig zu erreichende Erdgeschosswohnun...,2019-05-10,9.767442
1,Rheinland_Pfalz,800.00,NaN,3.47,89.00,67459,8,False,1871.0,111378734,...,False,5,3,4,1.0,Rhein_Pfalz_Kreis,Böhl_Iggelheim,Alles neu macht der Mai – so kann es auch für ...,2019-05-10,NaN
2,Sachsen,965.00,1300.00,2.72,83.80,1097,8,True,2019.0,113147523,...,False,6,3,4,9.0,Dresden,Äußere_Neustadt_Antonstadt,Der Neubau entsteht im Herzen der Dresdner Neu...,2019-10-08,15.513126
3,Sachsen,343.00,NaN,1.53,58.15,9599,9,False,1964.0,108890903,...,False,2,3,2,2.0,Mittelsachsen_Kreis,Freiberg,Abseits von Lärm und Abgasen in Ihre neue Wohn...,2019-05-10,NaN
4,Bremen,765.00,903.00,2.46,84.97,28213,19,False,1950.0,114751222,...,False,5,3,4,1.0,Bremen,Neu_Schwachhausen,Es handelt sich hier um ein saniertes Mehrfami...,2020-02-01,10.627280
5,Schleswig_Holstein,315.20,NaN,4.48,53.43,24891,5,False,1999.0,115531145,...,False,2,2,2,5.0,Schleswig_Flensburg_Kreis,Struxdorf,NaN,2020-02-01,NaN
6,Sachsen,310.00,380.00,1.01,62.00,9599,9,False,NaN,114391930,...,True,2,2,3,NaN,Mittelsachsen_Kreis,Freiberg,Am Bahnhof 14 in Freiberg\nHeizkosten und Warm...,2020-02-01,6.129032
7,Bremen,452.25,584.25,1.89,60.30,28717,5,False,1959.0,115270775,...,False,3,3,2,2.0,Bremen,St._Magnus,+ Komfortabler Bodenbelag: Die Wohnung ist zus...,2020-02-01,9.689055
8,Baden_Württemberg,580.00,690.00,3.77,53.00,79211,5,False,1970.0,106416361,...,False,4,2,2,2.0,Emmendingen_Kreis,Denzlingen,"Diese ansprechende, lichtdurchflutete DG-Wohnu...",2020-02-01,13.018868
9,Nordrhein_Westfalen,300.00,NaN,1.92,60.00,45888,7,False,1953.0,91383597,...,False,1,2,2,2.0,Gelsenkirchen,Bulmke_Hüllen,Sie sind auf der Suche nach einer gepflegten u...,2019-10-08,NaN

# 02. Merge rent data with state population data

In [11]:
# rename state column so it matches with merge column in the rent data
df_pop = df_pop.rename(columns={'state': 'regio1'})

In [12]:
df_pop.head()

,regio1,population,surface area,population density,space/person,people/apt,population trend,pop trend cat
0,Baden_Württemberg,11090990,35751,310,42.55,2.21,0.26,increase
1,Bayern,13113880,70552,186,44.28,2.15,0.35,increase
2,Berlin,3659468,892,4103,38.66,1.85,0.39,increase
3,Brandenburg,2521627,29486,86,40.76,2.00,-0.12,decrease
4,Bremen,681439,419,1626,40.81,1.92,0.11,increase

In [13]:
# merge
df_merge = df_rent.merge(df_pop, on = 'regio1', indicator = True)

In [14]:
df_merge.head()

,regio1,baseRent,totalRent,pricetrend,livingSpace,geo_plz,picturecount,newlyConst,yearConstructed,scoutId,...,date,price/unit,population,surface area,population density,space/person,people/apt,population trend,pop trend cat,_merge
0,Nordrhein_Westfalen,595.0,840.00,4.62,86.00,44269,6,False,1965.0,96107057,...,2019-05-10,9.767442,17935147,34098,526,41.41,2.12,-0.02,stable,both
1,Nordrhein_Westfalen,300.0,NaN,1.92,60.00,45888,7,False,1953.0,91383597,...,2019-10-08,NaN,17935147,34098,526,41.41,2.12,-0.02,stable,both
2,Nordrhein_Westfalen,950.0,1150.00,3.45,123.44,59065,3,False,1951.0,101730329,...,2019-10-08,9.316267,17935147,34098,526,41.41,2.12,-0.02,stable,both
3,Nordrhein_Westfalen,972.6,1320.65,3.76,87.00,44229,12,True,2018.0,92798563,...,2019-05-10,15.179885,17935147,34098,526,41.41,2.12,-0.02,stable,both
4,Nordrhein_Westfalen,329.0,NaN,3.12,65.00,47166,5,False,1914.0,111227157,...,2019-05-10,NaN,17935147,34098,526,41.41,2.12,-0.02,stable,both

In [15]:
# check merge flag
df_merge['_merge'].value_counts()

both          268772
left_only          0
right_only         0
Name: _merge, dtype: int64

In [16]:
# rearrange columns
df_merge = df_merge[['scoutId', 'regio1', 'baseRent', 'totalRent', 'price/unit', 'pricetrend', 'livingSpace', 'geo_plz', 'picturecount', 'newlyConst', 'yearConstructed', 'firingTypes', 'heatingType', 'hasKitchen', 'cellar', 'condition', 'street', 'lift', 'typeOfFlat', 'noRooms', 'floor', 'balcony', 'garden',
'baseRentRange', 'noRoomsRange', 'livingSpaceRange', 'yearConstructedRange', 'regio2', 'regio3', 'description', 'date', 'population', 'population trend', 'pop trend cat', 'surface area', 'population density', 'space/person', 'people/apt', '_merge']]

In [17]:
# drop merge flag
df_merge = df_merge.drop(['_merge'], axis=1)

In [18]:
df_merge.head()

,scoutId,regio1,baseRent,totalRent,price/unit,pricetrend,livingSpace,geo_plz,picturecount,newlyConst,...,regio3,description,date,population,population trend,pop trend cat,surface area,population density,space/person,people/apt
0,96107057,Nordrhein_Westfalen,595.0,840.00,9.767442,4.62,86.00,44269,6,False,...,Schüren,Die ebenerdig zu erreichende Erdgeschosswohnun...,2019-05-10,17935147,-0.02,stable,34098,526,41.41,2.12
1,91383597,Nordrhein_Westfalen,300.0,NaN,NaN,1.92,60.00,45888,7,False,...,Bulmke_Hüllen,Sie sind auf der Suche nach einer gepflegten u...,2019-10-08,17935147,-0.02,stable,34098,526,41.41,2.12
2,101730329,Nordrhein_Westfalen,950.0,1150.00,9.316267,3.45,123.44,59065,3,False,...,Mitte,Die angebotene Wohnfläche befindet sich im dri...,2019-10-08,17935147,-0.02,stable,34098,526,41.41,2.12
3,92798563,Nordrhein_Westfalen,972.6,1320.65,15.179885,3.76,87.00,44229,12,True,...,Kirchhörde,Der attraktive Neubau mit 10 Wohnungen liegt i...,2019-05-10,17935147,-0.02,stable,34098,526,41.41,2.12
4,111227157,Nordrhein_Westfalen,329.0,NaN,NaN,3.12,65.00,47166,5,False,...,Obermarxloh,Gepflegtes Mehrfamilienhaus in Duisburg-Oberm...,2019-05-10,17935147,-0.02,stable,34098,526,41.41,2.12

In [19]:
# rename columns to match with naming convention in rent data
df_merge = df_merge.rename(columns={'geo_plz': 'plz', 'population trend': 'populationTrend', 'pop trend cat': 'popTrendCat', 'surface area': 'surfaceArea', 'population density': 'populationDensity'})

In [20]:
df_merge.head()

,scoutId,regio1,baseRent,totalRent,price/unit,pricetrend,livingSpace,plz,picturecount,newlyConst,...,regio3,description,date,population,populationTrend,popTrendCat,surfaceArea,populationDensity,space/person,people/apt
0,96107057,Nordrhein_Westfalen,595.0,840.00,9.767442,4.62,86.00,44269,6,False,...,Schüren,Die ebenerdig zu erreichende Erdgeschosswohnun...,2019-05-10,17935147,-0.02,stable,34098,526,41.41,2.12
1,91383597,Nordrhein_Westfalen,300.0,NaN,NaN,1.92,60.00,45888,7,False,...,Bulmke_Hüllen,Sie sind auf der Suche nach einer gepflegten u...,2019-10-08,17935147,-0.02,stable,34098,526,41.41,2.12
2,101730329,Nordrhein_Westfalen,950.0,1150.00,9.316267,3.45,123.44,59065,3,False,...,Mitte,Die angebotene Wohnfläche befindet sich im dri...,2019-10-08,17935147,-0.02,stable,34098,526,41.41,2.12
3,92798563,Nordrhein_Westfalen,972.6,1320.65,15.179885,3.76,87.00,44229,12,True,...,Kirchhörde,Der attraktive Neubau mit 10 Wohnungen liegt i...,2019-05-10,17935147,-0.02,stable,34098,526,41.41,2.12
4,111227157,Nordrhein_Westfalen,329.0,NaN,NaN,3.12,65.00,47166,5,False,...,Obermarxloh,Gepflegtes Mehrfamilienhaus in Duisburg-Oberm...,2019-05-10,17935147,-0.02,stable,34098,526,41.41,2.12

In [21]:
df_merge.to_csv(r'C:\Users\jacym\Desktop\Career Foundry projects\german rent\02 Data\cleaned data\rent_pop_merged.csv', encoding = 'utf8', index=False)

# 03. Merge rent/state pop data with district pop data

In [22]:
df_merge2 = df_merge.merge(df_district_pop, on = 'regio2', indicator = True)

In [23]:
df_merge2.head()

,scoutId,regio1,baseRent,totalRent,price/unit,pricetrend,livingSpace,plz,picturecount,newlyConst,...,population,populationTrend,popTrendCat,surfaceArea,populationDensity,space/person,people/apt,districtPopTrend,districtPop,_merge
0,96107057,Nordrhein_Westfalen,595.0,840.00,9.767442,4.62,86.00,44269,6,False,...,17935147,-0.02,stable,34098,526,41.41,2.12,0.33,587010,both
1,92798563,Nordrhein_Westfalen,972.6,1320.65,15.179885,3.76,87.00,44229,12,True,...,17935147,-0.02,stable,34098,526,41.41,2.12,0.33,587010,both
2,114894763,Nordrhein_Westfalen,396.8,493.80,7.964516,4.10,62.00,44137,0,False,...,17935147,-0.02,stable,34098,526,41.41,2.12,0.33,587010,both
3,90046012,Nordrhein_Westfalen,310.0,460.00,8.363636,3.28,55.00,44329,14,False,...,17935147,-0.02,stable,34098,526,41.41,2.12,0.33,587010,both
4,87928570,Nordrhein_Westfalen,301.0,NaN,NaN,4.41,30.07,44137,31,False,...,17935147,-0.02,stable,34098,526,41.41,2.12,0.33,587010,both

In [24]:
# drop merge flag column
df_merge2 = df_merge2.drop(['_merge'], axis=1)

In [25]:
df_merge2.columns

Index(['scoutId', 'regio1', 'baseRent', 'totalRent', 'price/unit',
       'pricetrend', 'livingSpace', 'plz', 'picturecount', 'newlyConst',
       'yearConstructed', 'firingTypes', 'heatingType', 'hasKitchen', 'cellar',
       'condition', 'street', 'lift', 'typeOfFlat', 'noRooms', 'floor',
       'balcony', 'garden', 'baseRentRange', 'noRoomsRange',
       'livingSpaceRange', 'yearConstructedRange', 'regio2', 'regio3',
       'description', 'date', 'population', 'populationTrend', 'popTrendCat',
       'surfaceArea', 'populationDensity', 'space/person', 'people/apt',
       'districtPopTrend', 'districtPop'],
      dtype='object')

In [26]:
# export merged data
df_merge2.to_csv(r'C:\Users\jacym\Desktop\Career Foundry projects\german rent\02 Data\cleaned data\rent_district_pop_merged.csv', encoding = 'utf8', index=False)